.header-bar.dark-header {
  background-color: #1b1b1b; 
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background: none;   
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;       
    gap: 8rem;

    .nav-link {
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;
      padding: 0;       
      text-align: center;
      background: none; 
      border: none;     
      transition: color 0.2s, border-bottom 0.2s;

      &.active-link {
        color: #010101;
        font-weight: bold;
        border-bottom: 2px solid #ffcc00;
      }

      &:hover {
        color: #000000;
      }
    }
  }
}
