.footer-container {
  background-color: #1b1b1b; 
  color: #ffffff;
  padding: 1.5rem 1rem;
  display: flex;
    justify-content: space-around;

  a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.2s;

    &.active-link {
      color: #ffcc00; 
      font-weight: bold;
    }

    &:hover {
      color: #ffcc00;
    }
  }

  .footer-social a {
    font-size: 1.2rem;
    margin-right: 0.8rem;
    display: flex;
    justify-content: space-between;

    &:hover {
      color: #ffcc00;
    }
  }

  .footer-links, .footer-social {
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
  }
}
