<div class="product-details" [class.dark]="darkMode" *ngIf="productData">

  <button class="dark-toggle" (click)="toggleDark()">
    <i class="bi" [ngClass]="darkMode ? 'bi-sun' : 'bi-moon'"></i>
  </button>

  <div class="image-section">
    <img [src]="productData.thumbnail" class="main-image" />
  </div>

  <div class="info-section">

    <h1 class="title">{{ productData.title }}</h1>

  
    <div class="stars">
      <i *ngFor="let s of stars" class="bi bi-star-fill"></i>
    </div>

    <p class="description">{{ productData.description }}</p>

    <div class="meta">
      <span class="category">{{ productData.category }}</span>
      <span class="brand">{{ productData.brand }}</span>
    </div>

    <h2 class="price">{{ productData.price | currency }}</h2>


    <div class="qty-box">
      <button (click)="decreaseQty()">-</button>
      <span>{{ quantity }}</span>
      <button (click)="increaseQty()">+</button>
    </div>

    <button class="add-btn" (click)="addToCart()">
      <i class="bi bi-cart"></i>
      Add to Cart
    </button>

    <button class="back-btn" (click)="goback()">
      <i class="bi bi-arrow-left"></i> Back
    </button>
  </div>
</div>
