
    <form action="">
        <div class="action">
            <div class="description">
        
        <textarea class="textarea" name="your description" id="description" placeholder="description"></textarea>
      </div>
      <div class="input">
        <div class="input-form">
        <label for="first name"></label>
        <input type="text" id="first name" name="inputusename" placeholder="first name">
        </div>
        <div class="input-form">
        <label for=""></label>
        <input type="text" name="" id="last name" placeholder="last name">
        </div>
       
        
        <div class="send">
            
            <i class="bi bi-send"></i>
        </div>
      </div>
        </div>
        <div class="blocks">
            <div class="contact-block">
                <div class="mini-icon">
                    <i class="bi bi-envelope-at"></i>
                </div> 
                <h5 class="phone">email</h5>
                <p>example@yahoo.com
                    exampleemail2@yahoo.com</p>
            </div>
            <div class="contact-block">
                <div class="mini-icon">
                    <i class="bi bi-telephone"></i> 
                </div> 
                <h5 class="phone">phone</h5>
                <p>example@yahoo.com
                    exampleemail2@yahoo.com</p>
            </div>
            <div class="contact-block">
                <div class="mini-icon">
                    <i class="bi bi-geo-alt"></i>
                </div> 
                <h5 class="phone">location</h5>
                <p>example@yahoo.com
                    exampleemail2@yahoo.com</p>
            </div>
            </div>
