<div class="cart-container" *ngIf="cartItems.length > 0; else emptyCart">

  <div class="cart-card" *ngFor="let item of cartItems">
    
    <img [src]="item.thumbnail" class="cart-img">

    <div class="cart-info">
      <h3>{{ item.title }}</h3>
      <p class="price">{{ item.price | currency }}</p>

      <div class="qty-box">
        <button (click)="decreaseQty(item)">-</button>
        <span>{{ item.qty }}</span>
        <button (click)="increaseQty(item)">+</button>
      </div>
    </div>

    <button class="delete-btn" (click)="removeItem(item)">X</button>

  </div>

  <h2 class="total">Total: {{ totalPrice | currency }}</h2>
</div>

<ng-template #emptyCart>
  <h2 class="empty">Cart is empty</h2>
</ng-template>
