<div class="home-container">
  <div class="search-container">
    <input type="text"
           pInputText
           placeholder="Search product..."
           [(ngModel)]="searchText"
           (input)="onSearchChange($event)" />
    <i class="pi pi-search search-icon"></i>
  </div>
  <div class="category-tabs">
    <button *ngFor="let cat of categories"
            (click)="filterByCategory(cat)"
            class="category-btn">
      {{ cat }}
    </button>
    <button (click)="filteredProducts = products" class="category-btn all-btn">All</button>
  </div>
  <div class="product-grid">
    <div *ngFor="let p of filteredProducts" class="product-card p-card p-shadow-3">

      <img [src]="p.thumbnail" alt="{{ p.title }}" class="product-img"/>

      <div class="product-info">
        <h3>{{ p.title }}</h3>
        <p class="price">${{ p.price }}</p>
        <p class="category">{{ p.category }}</p>
      </div>

      <div class="product-actions">
        <button pButton type="button" label="Add to Cart" icon="pi pi-shopping-cart"
                (click)="addToCart(p)"></button>
        <button pButton type="button" label="Details" class="p-button-outlined"
                (click)="detailsPage(p.id)"></button>
      </div>

    </div>
  </div>

</div>
